.container {
    $main-color: #3B424E;

    background: $main-color;
    padding: 47px 0;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    color: white;
    gap: 27px;
    flex-wrap: wrap;

    &__footer {
        display: flex;
        flex-direction: row;
        width: 970px;
        height: 247.31px;

        .sub_container {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
        }

        @media screen and (max-width: 991px) {
            flex-direction: column;
            height: auto;
            gap: 80px;
            width: 750px;
        }

        @media screen and (max-width: 767px) {
            width: 540px;
        }

        @media screen and (max-width: 575px) {
            gap: 50px;

            .sub_container {
                flex-direction: column;
                gap: 50px;
            }
        }
    }

    .sub_footer {
        font-size: 14px;
        line-height: 18px;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;

        &__contact {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 60px;

            p:nth-child(2) {
                margin: 0 !important;
            }
        }

        &__imprints {
            display: flex;
            flex-direction: row;
            gap: 18px;
        }

        &:nth-child(2) {
            border-left: 1px solid white;
            border-right: 1px solid white;
        }

        p {
            font-family: 'Times New Roman', Times, serif;

            &:first-child {
                color: #00a7dd;
                cursor: pointer;
                letter-spacing: 1px;
                font-weight: bold;
            }

            &:nth-child(2) {
                color: #acaeb2;
                font-family: 'Times New Roman', Times, serif;
                font-style: italic;
                letter-spacing: 0.1px;
                text-align: left;
                margin: 10px 0 0 0;
            }
        }

        .link_wrapper {
            color: white;
            margin: 13px 0 0 0;
        }

        @media screen and (max-width: 991px) {
            &.commsult {
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                & > div {
                    width: 50%;
                }

                & > img {
                    margin-left: 30px;
                }
            }
            
            &__contact {
                flex-direction: column;
                gap: 10px;
            }
            
            &:nth-child(2) {
                border: none;
            }
        }

        @media screen and (max-width: 575px) {
            &.commsult {
                flex-direction: column;
                align-items: flex-start;
                gap: 40px;

                & > img {
                    margin: 0;
                }
            }
        }    
    }
}