.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.content {
    overflow-y: auto;
    height: 100%;
    flex-grow: 1;

    // .web {
    //     @media screen and (min-width: 767px) {
    //         display: none;
    //     }
    // }

    // .mobile {
    //     display: none;
    // }
    // scrollbar-width: none;
}