.head_container {
    position: absolute;
    background: linear-gradient(210.75deg, #0077b6 0%, #00527f 100%);
    width: 100%;
    height: 48px;
    top: -48px;
    transition: all .8s ease;
    display: flex;
    align-items: center;
    padding: 0 40px;

    &.display {
        top: 0px;
    }

    &.hide {
        bottom: -48px;
    }
}

.body_container {
    position: absolute;
    background: white;
    bottom: -100%;
    width: 100%;
    height: calc(100% - 48px);
    z-index: 99;
    transition: all .8s ease;
    overflow-y: auto;

    .content {
        display: flex;
        flex-direction: column;
        padding: 40px;

        & > button {
            text-align: right;
        }
    }   

    &.display {
        bottom: 0px;
    }

    &.hide {
        bottom: none;
    }
}