.head_container {
    position: absolute;
    background: linear-gradient(210.75deg, #0077b6 0%, #00527f 100%);
    width: 100%;
    height: 48px;
    top: -48px;
    transition: all .7s ease;
    display: flex;
    align-items: center;
    padding: 0 40px;

    &.display {
        top: 0px;
    }

    &.hide {
        bottom: none;
    }
}

.body_container {
    position: absolute;
    background: white;
    bottom: -100%;
    width: 100%;
    height: calc(100% - 48px);
    z-index: 99;
    transition: all .7s ease;
    overflow-y: auto;
    display: flex;
    justify-content: center;

    .content {
        display: flex;
        flex-direction: column;
        padding: 40px;
        align-items: center;
        max-width: 600px;
        overflow-y: auto;
        scrollbar-width: none;

        .controller {
            width: 100%;
            text-align: right;
        }   
        
        label {
            width: 100%;

            & > input {
                background: #f5f5f5;
                width: 100%;
                padding: 10px 14px;
                margin-bottom: 24px;
            }

            & > input:focus,
            & > textarea:focus {
                outline: none;
            }   
        }

        & > textarea {
            background: #f5f5f5;
            width: 100%;
            padding: 10px 14px;
            margin-bottom: 24px;
        }

        & > textarea {
            min-height: 104px;
        }

        h1 {
            color: #2d333d;
            font-family: 'Times New Roman', Times, serif;
            font-size: 40px;
            font-weight: bold;
            line-height: 48px;
            text-align: center;
            margin-top: 26px;
            margin-bottom: 42px;
        }

        h2 {
            font-family: 'Times New Roman', Times, serif;
            font-size: 24px;
            font-weight: bold;
            line-height: 28px;
            text-align: center;
            margin-bottom: 20px;
        }

        .radio_groups {
            display: flex;
            flex-direction: column;
            gap: 22px;
            margin-bottom: 60px;
            width: 100%;
        }

        &__radio {
            display: flex;
            flex-direction: row;
            align-items: center;

            &__checkmark {
                height: 25px;
                width: 25px;
                min-width: 25px;
                background: transparent;
                border: 2px solid #d0d0d0;
                border-radius: 200px;
                margin-right: 12px;

                .checked {
                    width: 100%;
                    height: 100%;
                    background: #0077b6;
                    border-radius: 50%;
                    border: 2px solid white;
                }
            }
        }

        .chips_group {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 465px;
            align-items: center;
            justify-content: center;
            gap: 14px;
            margin-bottom: 40px;

            .chip {
                font-weight: 200;
                padding: 3px 16px;
                border-radius: 200px;
                background: #f5f5f5;
                color: #abadb1;
                font-size: 14px;
                transition: all .3s ease;

                &.active {
                    background: linear-gradient(210.75deg, #0077b6 0%, #00527f 100%) !important;
                    color: white;
                }
            }
        }

        .checkbox_container {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            font-size: 12px;
            color: #62666e;
            gap: 12px;
            margin-top: 24px;
            margin-bottom: 40px;

            & > div {
                width: 25px;
                height: 25px;
                background: #f5f5f5;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                color: #17a2b8;
            }
        }

        .send_container {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: flex-end;

            .send_btn {
                font-weight: 300;
                color: #0077b6;
                border: 2px solid #0077b6;
                font-size: 14px;
                width: 160px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 50px;
                height: 48px;
                padding: 0 15px;

                @media screen and (max-width: 575px) {
                    width: 100%;
                    gap: none;
                }
            }
        }
    }

    &.display {
        bottom: 0px;
    }

    &.hide {
        bottom: none;
    }
}